.App {
  margin: 0%;
  padding: 0%;
  width: 100%;
  scroll-behavior:smooth;
  height: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #282c34
}

.nav {
  overflow: hidden;
  position: relative;
}

.nav{
  position: fixed;
  background-color: #282c34;
  top: -15px;
  width: 100%;
}
.nav a  {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 34px 46px;
  text-decoration: none;
  font-size: 17px;
}



.nav a:hover{
  color: #22f6bc;
}

.photo{
  margin-top: 30px;
  margin-left: 35px;
  margin-top: 4.7%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: auto;
  border: 3px solid #22f6bc;
  box-shadow: 5px;
}

.photo:hover{
  opacity: 0.3;
  visibility: visible;
}

.about{
  display: flex;
  margin-top: -30%;
  margin-left: 45%;
  justify-content: center;
  align-items: center;
  border: 3px solid #22f6bc;
  color: #f2f2f2;
  flex-direction: column;
  width: 50%;
  
  border-radius: 10px;
  
}


.about button{
  width: 15%;
  border-radius: 2px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: white;
  background-color: #282c34
}
.btn{
  border: 2px solid #282c34;
}
.btn:hover{
  border:2px solid #22f6bc;
  cursor: pointer;
}



.project {
  margin-top: 15%;
  font-size: 1.5rem;
  margin-left: 31%;
  width:50%;
  justify-content: center;
  align-items: center;
  color: white;
  border: 3px solid #22f6bc;
  border-radius: 8px;
}


.project h1{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Achivment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Achivment h1{
  margin-top: 40px;
  color: white;
}

.rank{
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.std{
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.container {
  width: 100%;
  background-color: #ddd;
  margin-left: 35px;
  border-radius: 10px;
  width: 80%;
}
.Skills {
  text-align: left;
  margin-left: 40px;
  border-radius: 10px;
  margin-top:45px;
  border:3px solid #22f6bc;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.Skills{
  animation-name: changecolor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.Skills h1{
  display: flex;
  justify-content: center;
}

.Skills p{
  margin-left: 20px;
}

.react {width: 90%;text-align: center;border-radius: 5px; background-color: #22f6bc;}
.js {width: 80%;text-align: center;border-radius: 5px; background-color: #22f6bc;}
.cpp{width: 95%;text-align: center;border-radius: 5px; background-color: #22f6bc;}
.node{width: 75%;text-align: center; border-radius: 5px;background-color: #22f6bc;}
.python{width: 85%;text-align: center;border-radius: 5px; background-color: #22f6bc;}

.copy{
  text-align: center;
  color: white;
}



