.App {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 500%;
  background-color: #282c34
}

.nav {
  overflow: hidden;
}
.nav a  {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 34px 46px;
  text-decoration: none;
  font-size: 17px;
}



.nav a:hover{
  color: rgb(41, 41, 226);
}

.photo{
  margin-left: 25px;
  margin-top: 35px;
  width: 35%;
  border: 5px solid rgb(157, 11, 224);
  box-shadow: 5px;
}

.photo{
  animation-name: sample;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.about{
  display: flex;
  margin-top: -30%;
  margin-left: 45%;
  color: #f2f2f2;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
  border: 5px solid rgb(157, 11, 224);
  border-radius: 10px;
}

.project {
  margin-top: 15%;
  margin-left: 31%;
  width:50%;
  justify-content: center;
  align-items: center;
  color: white;
  border: 5px solid rgb(157, 11, 224);
  border-radius: 8px;
}

.project h1{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  background-color: #ddd;
  margin-left: 35px;
  border-radius: 10px;
  width: 80%;
}
.Skills {
  text-align: left;
  margin-left: 40px;
  border-radius: 10px;
  margin-top:35px;
  border:5px solid rgb(157, 11, 224);
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.Skills p{
  margin-left: 20px;
}

.react {width: 90%;text-align: center;border-radius: 5px; background-color: #8D3DAF;}
.js {width: 80%;text-align: center;border-radius: 5px; background-color: #8D3DAF;}
.cpp{width: 95%;text-align: center;border-radius: 5px; background-color: #8D3DAF;}
.node{width: 75%;text-align: center; border-radius: 5px;background-color: #8D3DAF;}
.python{width: 85%;text-align: center;border-radius: 5px; background-color: #8D3DAF;}

.copy{
  text-align: center;
  color: white;
}
@keyframes sample{
  from{
    border-radius: 0%;
  }
  to{
    border-radius: 20%;
  }
}



